<html>

<head>
    <h1 align="center">Hello World!!</h1>
</head>

<br></br>

<body>
    <h3 align="right"><strong>whatcha doing, dawg?</strong></h3>
    <h4 align="left"><i>sike over here now</i></h4>
    <h5 align="center"><strong>bye</strong></h5>
    <!-- the target="blank" means to open a new tab to open the link; "_parent" would open it in the same tab -->
    <h6 align="left"><a href="https://awesomecollector.com" target="_blank" title="be gay do crime">gone</a></h6>

    <h3 align="center"> <i>beware!11!!</i></h3>
    <h4 align="left"><strong>line</strong></h4>
    <hr>
    <h3> See what's new --><a href="new">here</a></h3>
</body>

<footer>
    <br>
    <br>
    <br>
    <br>
    <h6><strong><a href="https://github.com/Callama" target="_parent" title="the man, the myth, the legend">@callama#6978</a></strong></h6>
</footer>
</html>