<html>
    <body>
        <form align="center" action="{{ url_for("submitLoginRoute")}}" method="post">
            <label for="email"><b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> </label>
            <input type="text" name="username" id="email" placeholder="username">
        
            <label for="password"><b>Password</b></label>
            <input type="text" name="password" id="password" placeholder="password">

            <input type="button" id="submitLoginButton" value="Login">
        </form>
    </body>
</html>