<html>
    <body>
        <form action="{{ url_for("loginRoute")}}" method="post">
            <div style="text-align:center;">
                <label for="email"><b>Username</b> </label>
                <input type="text" name="username" id="email" placeholder="username">
            </div>
            <br>
            <div style="text-align:center;">
                <label for="password"><b>Password</b></label>
                <input type="text" name="password" id="password" placeholder="password">
            </div>
            <br>
            <div style="text-align:center;"">
                <button type="submit" name="submitLoginButton">Login</button>
            </div>
        </form>
    </body>
</html>