<html>
    <body>
        <header>
            <h1 id="name">Callama</h1>
            <h3 id="short_bio">A Highschool Senior with a passion for Computer Science and Mathematics.</h3>
        </header>
        <section id="contact">
            <h2>Contact Me</h2>
            <h3>Github Img Twitter Img</h3>
        </section>
        <section id="exp">
            <h2>Experience</h2>
            <!-- have a link here to a more indepth info about it/drop down menu :o-->
            <h3>Discord Bot Developer @ Nights Hotels</h3>
            <!-- link twitter lmao-->
            <h3>Social Media Manager @ Awesome Collector</h3>
            <h3>Operation Christmas Child Chair @ FUMC</h3>
        </section>
        <section id="skills">
            <h2>Skills</h2>
            <h3>python, postgres, flask, sql, html, hopefully JS</h3>
        </section>

    </body>




</html>



