 <html>
    <body>
        <form action="{{ url_for("signupPostRoute")}}" method="post">
            <div style="text-align:center;">
                <label for="email"><b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> </label>
                <input type="username" id="email" name="email" placeholder="example@callama.dev" autocomplete="email">
            </div>
            <br>
            <div style="text-align:center;">
                <label for="password"><b>Password&nbsp;</b></label>
                <input class="input" type="password" name="password" placeholder="example" autocomplete="current-password">
            </div>
            <br>
            <div style="text-align:center;">
                <label for="username"><b>Username</b></label>
                <input class="input" type="username" name="username" placeholder="tim" autocomplete="username">
            </div>
            <br>
            <div style="text-align:center;">
                <button type="submit" name="submitSignupButton">Sign Up</button>
            </div>
        </form>
    </body>
</html>



